---
import "./style.css";
import Layout from "@/layouts/Layout.astro";

import type { GetStaticPaths } from "astro";
import ProjectLinks from "@/components/ProjectLinks.astro";
import SkillList from "@/components/SkillList.astro";

const project = import.meta.glob("/content/projects/*.md", { eager: true })[`/content/projects/${Astro.params.id}.md`];
const { Content, frontmatter } = project as Record<string, any>;

export const getStaticPaths = (() => {
  const matches = import.meta.glob("/content/projects/*.md", { eager: true });
  const projects = Object.keys(matches).map((p) => p.split("/").slice(-1)[0].split(".")[0]);
  return projects.map((p) => ({ params: { id: p } }));
}) satisfies GetStaticPaths;
---

<Layout title={frontmatter.name} description={frontmatter.description}>
  <main class="flex h-full flex-col items-center">
    <div
      class="prose prose-strong:font-bold prose-h1:font-medium prose-li:marker:text-inherit prose-img:max-h-96 prose-h1:font-sans prose-headings:font-mono prose-img:max-w-full prose-img:object-contain w-full max-w-2xl font-sans"
    >
      <div class="mb-8 flex items-center justify-between">
        <h1 class="mb-0">{frontmatter.name}</h1>
        <ProjectLinks {...frontmatter} />
      </div>
      <div class="-mt-4">
        <SkillList items={frontmatter.skills.split(/, ?/)} />
      </div>
      <Content />
    </div>
  </main>
</Layout>
