@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300 700;
  font-display: block;
  src: url(/SpaceGrotesk-TT.woff2);
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: block;
  src: url(/JetBrainsMono-TT.woff2);
}

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

html,
body {
  @apply min-h-dvh m-0 w-full;
}
body {
  @apply bg-neutral-100 font-sans text-neutral-950;
}

::selection,
::-moz-selection {
  @apply bg-neutral-950 text-neutral-100;
}
