@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url(/JetBrainsMono.woff2);
}

html,
body {
  @apply min-h-dvh m-0 w-full;
}
body {
  font-family: "JetBrains Mono", monospace;
  @apply bg-gray-100 font-medium tracking-tighter text-gray-950;
}
