@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300 700;
  font-display: block;
  src: url(/SpaceGrotesk-TT.woff2);
}

@theme {
  --font-sans: "Space Grotesk", sans-serif;
}

html,
body {
  @apply min-h-dvh m-0 w-full;
}
body {
  @apply bg-neutral-50 font-sans text-neutral-950;
}

::selection,
::-moz-selection {
  @apply bg-neutral-950 text-neutral-50;
}
