@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: block;
  src: url(/JetBrainsMono-TT.woff2);
}

html,
body {
  @apply min-h-dvh m-0 w-full;
}
body {
  font-family: "JetBrains Mono", monospace;
  @apply bg-neutral-100 tracking-tight text-neutral-950;
}
