---
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="ChakornK - 404">
  <main class="h-dvh flex flex-col items-center justify-center p-16 text-center">
    <h1 class="text-8xl tracking-[-0.075em]">404</h1>
    <p class="text-xl">Page not found</p>
    <a href="/" class="relative mt-4 flex items-center gap-2 border border-gray-950 px-4 py-2">
      <Icon name="carbon:home" size={16} />
      <span>Return home</span>
    </a>
  </main>
</Layout>
