---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="ChakornK">
  <main class="flex h-full flex-col items-center justify-center gap-4 p-16">
    <h1 class="text-7xl font-light tracking-[-0.075em]">ChakornK</h1>
    <div class="flex items-center gap-4">
      <a href="https://github.com/ChakornK" target="_blank">
        <Icon name="tabler:brand-github" size={32} />
      </a>
      <a href="https://www.linkedin.com/in/chakorn-kungsanarux-783437388" target="_blank">
        <Icon name="tabler:brand-linkedin" size={32} />
      </a>
    </div>
  </main>
</Layout>
