@reference "tailwindcss";

main {
  @apply bg-black w-screen h-screen overflow-x-hidden overscroll-none text-neutral-200 select-none;
  scrollbar-color: #111 #000;
  scrollbar-width: thin;
}

.page {
  @apply top-0 left-0 sticky flex flex-col items-center gap-4 bg-gradient-to-b from-transparent via-black to-black w-screen h-screen;
}

.card {
  @apply bottom-1/2 left-1/2 absolute bg-neutral-950 p-8 gap-2 flex flex-col border-2 border-neutral-900 rounded-xl;
  width: 36rem;
  height: 32rem;
  max-width: 80vw;
  max-height: 80vh;
  filter: drop-shadow(0 0 1rem #000a);
}
