@reference "tailwindcss";
@plugin "@tailwindcss/typography";

main {
  @apply bg-black w-screen h-screen overflow-x-hidden overscroll-none text-neutral-200 select-none;
  scrollbar-color: #111 #000;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &:has(.scroll-block) {
    @apply overflow-y-clip;
  }
}

.page {
  @apply top-0 left-0 sticky flex flex-col items-center gap-4 bg-gradient-to-b from-transparent via-black to-black w-screen h-screen;
}

.card {
  @apply bottom-1/2 left-1/2 absolute bg-neutral-950 gap-2 flex flex-col border-2 border-neutral-900 rounded-xl overflow-hidden;
  filter: drop-shadow(0 0 1rem #000a);

  scrollbar-color: #111 #0a0a0a;

  &.sm {
    @apply p-8;
    width: 36rem;
    height: 28rem;
    max-width: 80vw;
    max-height: 80vh;
  }
  &.lg {
    @apply -translate-x-1/2 -translate-y-1/2;
    top: 50svh;
    bottom: auto;
    width: 90vw;
    height: 90vh;
    max-width: 72rem;
    max-height: 90svh;
  }
}
.card-img {
  @apply bg-white/2 mb-4 rounded-xl aspect-video;
}

.overlay {
  @apply fixed top-0 left-0 w-screen h-screen bg-black/50 z-10;
}

.card-lg-details-container {
  @apply relative flex md:flex-row flex-col h-1/2 overflow-y-auto md:overflow-y-hidden;
}
.card-lg-description {
  @apply flex flex-col pb-4 md:pb-8 md:h-full grow;
}
.card-lg-title {
  @apply top-0 md:relative sticky bg-neutral-950 p-4 md:p-8 md:pb-4 font-semibold text-white text-2xl;
}
.card-lg-prose {
  @apply prose-invert px-4 md:px-8 overflow-auto grow prose prose-neutral;
  max-width: none;
  & > *:first-child {
    @apply mt-0;
  }
}
.card-lg-links {
  @apply flex flex-col gap-2 p-4 border-neutral-900 border-t-2 md:border-t-0 md:border-l-2 min-w-48;
}
