---
const routes = Object.entries({
  "/": "Home",
  "/experience": "Experience",
  "/projects": "Projects",
});
const { pathname } = Astro.url;
---

<div class="*:px-1 fixed left-0 right-0 top-0 flex select-none items-center gap-4 bg-gray-100/75 p-4 font-medium backdrop-blur">
  {
    routes.map(([path, name]) =>
      pathname.replace(/(?<=[^\^])\/$/, "") === path ?
        <p class="bg-gray-950 text-gray-100">{name}</p>
      : <a href={path} class="hover:underline">
          {name}
        </a>
    )
  }
</div>
