---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="ChakornK - Experience">
  <main class="flex h-full flex-col items-center p-16">
    <div class="w-full max-w-2xl">
      <h1 class="text-3xl">Experience</h1>
    </div>
  </main>
</Layout>
