---
import Layout from "@/layouts/Layout.astro";
import ProjectLinks from "@/components/ProjectLinks.astro";
import SkillList from "@/components/SkillList.astro";

const matches = import.meta.glob("/content/projects/*.md", { eager: true });
const projects = Object.entries(matches).map(([k, p]) => ({
  id: k.split("/").slice(-1)[0].split(".")[0],
  ...(p as { frontmatter: any }).frontmatter,
})) as Record<string, any>[];
---

<Layout title="Projects" description="What I've worked on">
  <main class="flex flex-col gap-4">
    <h1 class="font-mono text-3xl font-semibold">Projects</h1>
    {
      projects.map((project) => (
        <div class="relative flex flex-col-reverse items-stretch border border-neutral-950 text-sm sm:flex-row">
          <div class="h-48 w-auto shrink-0 bg-neutral-200 bg-cover bg-center sm:h-auto sm:w-48" style={`background-image: url(${project.thumbnail})`} />
          <div class="flex grow flex-col gap-2 p-4">
            <div class="flex justify-between">
              <h2 class="font-mono text-lg font-medium leading-none">{project.name}</h2>
              <ProjectLinks {...project} />
            </div>
            <p>{project.description}</p>
            <SkillList items={project.skills.split(/, ?/)} />
          </div>
          <a href={`/projects/${project.id}`} class="absolute inset-0 z-10 select-none opacity-0" />
        </div>
      ))
    }
  </main>
</Layout>
