---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard.astro";

const matches = import.meta.glob("/content/projects/*.md", { eager: true });
const projects = Object.entries(matches).map(([k, p]) => ({
  id: k.split("/").slice(-1)[0].split(".")[0],
  ...(p as { frontmatter: any }).frontmatter,
})) as Record<string, any>[];
---

<Layout title="Projects" description="What I've worked on">
  <main class="flex flex-col gap-4">
    <h1 class="font-mono text-3xl font-semibold">Projects</h1>
    {projects.map((project) => <ProjectCard {project} />)}
  </main>
</Layout>
