@import "@unocss/reset/tailwind.css";

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(/SpaceGrotesk-TT.woff2);
}

:root {
  --color-background: oklch(0.99 0.0067 106.54);
  --color-surface: oklch(0.8687 0.0067 106.54 / 0.2);
  --color-text: oklch(0.2967 0.1 203.61);
  --color-highlight: oklch(0.7735 0.139 232.66 / 0.1);
}

html,
body {
  @apply min-h-dvh m-0 w-full;
}
body {
  @apply bg-background text-text font-sans;
}

::selection,
::-moz-selection {
  @apply bg-text text-background;
}

/* Place consecutive images in a row if possible */
.prose p:has(img) {
  @apply flex flex-wrap justify-center gap-4;
}
.prose p:has(img) img {
  @apply my-0;
}
/* Remove spacing between paragraph and list */
.prose p:has(+ :is(ul, ol)) {
  @apply mb-0;
}
.prose p + :is(ul, ol) {
  @apply mt-0;
}

.prose img {
  @apply rounded-lg;
}

#nav-items-clone {
  mask-image: linear-gradient(#000, #000);
}
