@import "@unocss/reset/tailwind.css";

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300 700;
  font-display: block;
  src: url(/SpaceGrotesk-TT.woff2);
}

html,
body {
  @apply min-h-dvh m-0 w-full;
}
body {
  @apply bg-neutral-50 font-sans text-neutral-950;
}

::selection,
::-moz-selection {
  @apply bg-neutral-950 text-neutral-50;
}

/* Place consecutive images in a row if possible */
.prose p:has(img) {
  @apply flex flex-wrap justify-center gap-4;
}
.prose p:has(img) img {
  @apply my-0;
}
/* Remove spacing between paragraph and list */
.prose p:has(+ :is(ul, ol)) {
  @apply mb-0;
}
.prose p + :is(ul, ol) {
  @apply mt-0;
}
