---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <ClientRouter fallback="swap" />

    <link rel="preload" href="/JetBrainsMono.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
