---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import { ClientRouter } from "astro:transitions";

import { SEO } from "astro-seo";
import { getImagePath } from "astro-opengraph-images";

const { title, description, image } = Astro.props;
const { url, site } = Astro;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SEO
      title={title ? `${title} | ChakornK` : "ChakornK"}
      description={description || ""}
      openGraph={{
        basic: {
          title: title || "Chakorn Kungsanarux",
          type: "website",
          image: image ? `${site}${image}` : getImagePath({ url, site }),
        },
        optional: {
          description,
        },
      }}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <ClientRouter fallback="swap" />

    <link rel="preload" href="/JetBrainsMono.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
