---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";

import { SEO } from "astro-seo";
import { getImagePath } from "astro-opengraph-images";

const { title, description } = Astro.props;
const { url, site } = Astro;
const ogImage = getImagePath({ url, site });
---

<!doctype html>
<html lang="en" class="overflow-x-clip" style="view-transition-name:none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SEO
      title={title ? `${title} | ChakornK` : "Chakorn Kungsanarux"}
      description={description || ""}
      openGraph={{
        basic: {
          title: title ? `${title}` : "Chakorn Kungsanarux",
          type: "website",
          image: ogImage,
        },
        optional: {
          description,
        },
      }}
      twitter={{
        card: "summary_large_image",
        title,
        description,
        image: ogImage,
      }}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="preload" href="/SpaceGrotesk-TT.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

    <script src="../scripts/index.ts"></script>
  </head>
  <body class="flex flex-col overflow-x-clip p-8 pt-20 sm:p-16 sm:pt-20">
    <Navbar />
    <main class={"mx-auto w-full max-w-2xl grow" + (Astro.props.class ? " " + Astro.props.class : "")}>
      <slot />
    </main>
  </body>
</html>
